<%- include('partials/header') -%>
<div class="container">
  <div class="results-header">
  <h2>Set: <%= searchedSet %></h2>
  <p>Select card for more information</p>
  </div>
<div class="card-section">
<%  for(i = 0; i < cardData.length; i++) {  %>
    <a href="/cards/<%=cardData[i].id%>">
      <div class="image">
      <img src="<%=cardData[i].images.small%>" alt="image">
      </div>
    </a>
<%  }  %>

<p>Looking for something else? <a href="/">Search again</a></p>

</div>
</div>


<%- include('partials/footer') -%>
